
##########################
# ipython notebook files #
##########################
  *.ipynb
*-checkpoint.ipynb

##########################
#    temporary files     #
##########################
*.pyc

##########################
#       data files       #
##########################
*.h5
*.csv
*.xlsx
