
##########################
# ipython notebook files #
##########################
  *.ipynb
*-checkpoint.ipynb

##########################
#    temporary files     #
##########################
*.pyc
*.DS_Store
*__pycache__/*

##########################
#       data files       #
##########################
*.h5
*.csv
*.xlsx
*data/*
*models/*
